/*Non-Buttons*/
*{
  background: darkgray;
}
#container{
  border: 5px outset lightgray;
  background: darkgray;
  width: 400px;
  height: 250px;
  padding: 10px;
  margin: 0px auto 0px auto;
  position: relative;
}
#bottom{
  padding: 1px;
  border: outset lightgray 5px;
  display: flex;
  width: 260px;
  position: absolute;
  bottom: 10px;
  left: 70px;
}
#QS{
	margin: 0px auto;
}
#main{
  margin: 10px 0px 0px 0px;
  position: fixed;
  top:10;
}
#result{
  margin: 75px 0px;
  border: 10px outset lightgray;
  background: darkgray;
  padding: 20px;
}
#xi{
	border: 2px solid lightgray;
	position:fixed;
	bottom: 10px;
	right:0;
}
.xdiv{
  position:absolute;
  bottom:100px;
  right:10px;
}
#result{
  position:fixed;
	bottom:200px;
  border: 5px outset lightgray;
  background: darkgray;
}
label{
  padding: 0px 0px 0px 10px;
  color: white;
}
.c{
  color: lightgreen;
}
.i{
  color: lightcoral;
}
/*Buttons*/
.btn{
  margin: 10px 0px 0px 12px;
  border: outset 2px Gainsboro;
  color: white;
  padding: 2px;
  transition: border .6s,transform .3s ease;
}
.btn:hover{
	box-shadow: 0px 4px 5px 2px Gray;
	border-bottom: solid 2px Silver;
	transform:translateY(-2px);
}
.btn:active{
	transform:translateY(2px);
}
.change{
  color: white;
  border: outset 2px gray;
  box-shadow: 0 0 0.3em #ccc;
  transition: all 0.2s ease-out;
  padding: 2px;
  transition-property: box-shadow;
}
.change:hover{
  background-color: darkgray;
	color: lightcyan;
	text-decoration: none;
	box-shadow: 0 0 1em -0.15em #666;
}
.sub{
  margin: 0px auto;
}
/*Other */
.request{
	position: absolute;
	top: 40%;
	transform: translate(70%, -70%);
	bottom: -100px;
	padding: 20px;
	width: 500px;
	height: 150px;
	border: outset 5px lightgray;
}
.request > *{
	color:white;
}
.request > input{
	width: 300px;
	height: 50px;
	border: 2px lightgray inset;
	margin: 5px 30px;
	transition: color .5s,border 1s ease;
}
.request > input:hover{
	color: darkgray;
	background-color: ghostwhite;
	border: 2px solid lightgray;
	border-bottom: 2px solid dimgray;
	box-shadow: 0px 8px 5px 0px Gray;
}
.request > label{
	  font-size: 40px;
	  margin: 10px 0px;
}
#btn{
	width: 100px;
	height: 50px;
	color: whitesmoke;
	text-decoration-line: none;
	border: lightgray 1px solid;
	transition: border 1s,text-shadow .5s,transform 1s ease;
}
#btn:hover{
	border: 5px solid Gainsboro;
	border-bottom: 7px solid DimGray;
	color: white;
	text-shadow: 0px 2px slategray;
	box-shadow: 0px 4px 5px 0px Gray;
}
#btn:active{
	transform:translateY(5px);
}
